<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
     <style>
         .button {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }
      </style>
</head>

<p><a href="{{ url_for('logout') }}">Log out</a></p>
	<p>Password Status:{%for data in data%} <progress  value={{data}}  min = "0" max="10"> {%endfor%}
	</progress></p>
